{% extends 'layouts/main.html' %}
{% block style %}
    <style>
        .profile-img-for-add-member {
            width: 64px;
            height: 64px;
            border-radius: 50%;
        }

        .push-bit {
            margin-bottom: 0;
        }

        .btn.cross-post-btn {
            font-size: 10px;
            background: transparent;
            font-weight: normal;
            padding: 0;
        }
    </style>
{% endblock style %}
{% block content %}
    <div class="container-fluid">
        {% include 'layouts/alert-message.html' %}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content">
                        <div class="widget widget-group widget-group-custom">
                            <div class="widget-advanced widget-advanced-alt">
                                <div class="widget-header text-left widget-header-group">
                                    <img src="{{ object.picture.url }}" alt="background"
                                         class="widget-background widget-background-group img-responsive">
                                    <h4 class="widget-content widget-content-image-bottom widget-content-light clearfix">
                                        {% if user.id == object.creator_id %}
                                            <a href="javascript:void(0)" class="widget-icon pull-right">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </a>
                                            <a href="{% url 'group-update' object.slug %}" class=" btn-right widget-icon pull-right">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </a>
                                        {% endif %}
                                        <a href="javascript:void(0)"
                                           class="themed-color-default"><strong>{{ object.name }}</strong></a><br>
                                        {% if object.type == 'private' %}
                                            <small><i class="fa fa-lock" aria-hidden="true"></i> Private</small>
                                        {% else %}
                                            <small><i class="fa fa-globe" aria-hidden="true"></i> Public</small>
                                        {% endif %}
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% include 'group/menu.html' with menu='discuss' slug=object.slug %}
            </div>
        </div>

        <div class="modal fade" id="peopleListModal" tabindex="-1" role="dialog" aria-labelledby="postLikerLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">People List</h4>
                    </div>
                    <div class="modal-body modal-body-invite">
                        <div id="people-list"></div>
                    </div>
                    <div class="modal-footer" style="border-top: 0px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script>
        $(document).ready(function () {
            $('.inviteUser').click(function () {
                let data_slug = $(this).attr('data-group-slug');
                console.log(data_slug);
                return false;

                let pageUrl = '/challenges/people-list/' + data_slug;

                $("#peopleListModal").modal('show');
                $.ajax({
                    type: "GET",
                    url: pageUrl,
                    beforeSend : function () {
                        $("#people-list").html('<div class="overlay loader-div"><i class="fa fa-refresh fa-spin"></i></div>');
                    },
                    success: function(data) {
                        $("#people-list").html(data);
                    },
                    error: function() {
                        $("#people-list").html("Failed to load data.");
                    }
                });
                e.preventDefault();
            });
        });
    </script>
{% endblock %}
