{% comment %}<nav class="navbar navbar-custom navbar-default">
    <div class="container-fluid container-fluid-custom">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-collapse-custom" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li {% if menu == 'discuss' %} class="active" {% endif %}><a href="{% url 'group-details' slug %}"
                                                                             class="active"><i class="fa fa-align-right"
                                                                                               aria-hidden="true"></i>
                    Discussion</a></li>
                <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Members</a></li>
                <li><a href="#"><i class="fa fa-info-circle" aria-hidden="true"></i> About</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><i class="fa fa-pencil-square-o icon-margin" aria-hidden="true"></i></a></li>
                <li><a href="#" class="confirm"><i class="fa fa fa-trash icon-margin" aria-hidden="true"></i></a></li>
                <li>
                    <a href="#" class="btn btn-success btn-sm" data-group-id="12345"><i class="fa fa-plus"
                                                                                        aria-hidden="true"></i>Join
                        Digital Hot Seats</a>
                </li>
            </ul>
        </div>
    </div>
</nav>{% endcomment %}

<div id="topheader">
  <nav class="navbar navbar-default">
		<div class="">
			 <div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
				  </button>
			 </div>
			 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav">
						<li {% if menu == 'discuss' %} class="active" {% endif %}>
                            <a href="{% url 'group-details' slug %}" ><i class="fa fa-align-right" aria-hidden="true"></i> Discussion</a>
                        </li>
                        <li {% if menu == 'member' %} class="active" {% endif %}><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Members</a></li>
                        <li {% if menu == 'about' %} class="active" {% endif %}><a href="#"><i class="fa fa-info-circle" aria-hidden="true"></i> About</a></li>
				  </ul>
				  <ul class="nav navbar-nav navbar-right">
						<li><a href="#">Link</a></li>
				  </ul>
			 </div>
		</div>
  </nav>
</div>
