{% extends 'layouts/main.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content table-responsive table-full-width">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th class="text-right">Salary</th>
                                <th class="text-right">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for value in users %}
                                <tr>
                                    <td>{{ value.first_name }} {{ value.last_name }}</td>
                                    <td>{{ value.username }}</td>
                                    <td>{{ value.email }}</td>
                                    <td class="text-right">€ 99,225</td>
                                    <td class="td-actions text-right">
                                        <a href="#" rel="tooltip" title="" class="btn btn-info btn-simple btn-xs"
                                           data-original-title="View Profile">
                                            <i class="ti-user"></i>
                                        </a>
                                        <a href="{{ value.id }}" rel="tooltip" title="" class="btn btn-success btn-simple btn-xs"
                                           data-original-title="Edit Profile">
                                            <i class="ti-pencil-alt"></i>
                                        </a>
                                        {% if user.username != value.username %}
                                            <a href="#" rel="tooltip" title="" class="btn btn-danger btn-simple btn-xs"
                                               data-original-title="Remove">
                                                <i class="ti-close"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}