{% extends 'layouts/main.html' %}
{% block content %}
    <div class="container-fluid">
        {% include 'layouts/alert-message.html' %}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content">
                        <h2>{{ object.title }}
                            {% if user.id == object.author.id %}
                                <a href="{% url 'post-update' object.slug %}" class="btn btn-sm btn-info pull-right"><i class="fa fa-pencil-square-o"></i></a>
                                <a href="javascript:void(0)" class="btn btn-sm btn-danger pull-right btn-right confirm"><i class="fa fa-trash-o"></i></a>
                            {% endif %}
                        </h2>
                        <h5><span class="fa fa-calendar"></span> Post by <img src="{{ object.author.profile.image.url }}" class="img-thumbnail img-circle post-user-img">
                            {{ object.author.first_name|title }}, {{ object.date_posted|date:"F d, Y" }}.
                        </h5>
                        <h5><span class="label label-danger">Food</span> <span class="label label-primary">Ipsum</span>
                        </h5><br>
                        <p align="justify">{{ object.content|safe }}</p>
                        <hr/>
                        {% if user_dislike.user_id ==  object.author.id %}
                            <a href="javascript:void(0)" data-post-id="{{ object.id }}" class="btn btn-info btn-fill"><i
                                    class="fa fa-thumbs-up"></i> Like
                                <input class="like" name="like" readonly="readonly" type="text"
                                       placeholder="{{ like.count }}" value="{{ like.count }}"/></a>
                        {% else %}
                            <a href="javascript:void(0)" data-post-id="{{ object.id }}"
                               class="btn btn-info btn-fill like-btn"><i class="fa fa-thumbs-up"></i> Like
                                <input class="like" name="like" readonly="readonly" type="text"
                                       placeholder="{{ like.count }}" value="{{ like.count }}"/></a>
                        {% endif %}
                        {% if user_dislike.user_id ==  object.author.id %}
                            <a href="javascript:void(0)" data-id="{{ object.id }}" class="btn btn-danger btn-fill"><i
                                    class="fa fa-thumbs-down"></i>
                                Dislike <input class="dislike" name="dislike" readonly="readonly" type="text"
                                               placeholder="{{ dislike.count }}" value="{{ dislike.count }}"/></a>
                        {% else %}
                            <a href="javascript:void(0)" data-id="{{ object.id }}"
                               class="btn btn-danger btn-fill dislike-btn"><i class="fa fa-thumbs-down"></i>
                                Dislike <input class="dislike" name="dislike" readonly="readonly" type="text"
                                               placeholder="{{ dislike.count }}" value="{{ dislike.count }}"/></a>
                        {% endif %}
                        <hr/>

                        <h4>Leave a Comment:</h4>
                        <form role="form" id="commentForm" method="POST" action="{% url 'post-comment' %}">
                            {% csrf_token %}
                            <input type="hidden" name="post_id" value="{{ object.id }}">
                            <div class="form-group">
                                <textarea class="form-control" name="comment" rows="3" required="true"></textarea>
                            </div>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </form>
                        <br><br>
                        <p><span class="badge">{{ comments.count }}</span> Comments:</p><br>

                        {% for comment in comments %}
                            <div class="row">
                                <div class="col-sm-2 text-center">
                                    <img src="{{ comment.user.profile.image.url }}" class="img-circle" height="65" width="65" alt="Avatar">
                                </div>
                                <div class="col-sm-10">
                                    <h5>{{ comment.user.first_name }} <small>{{ comment.createdAt|date:"F d, Y" }}</small></h5>
                                    <p>{{ comment.comment }}</p>
                                    <br>
                                </div>

                            </div>
                        {% endfor %}
                        {% comment %}<div class="row">
                            <div class="col-sm-2 text-center">
                                <img src="bandmember.jpg" class="img-circle" height="65" width="65" alt="Avatar">
                            </div>
                            <div class="col-sm-10">
                                <h4>Anja
                                    <small>Sep 29, 2015, 9:12 PM</small>
                                </h4>
                                <p>Keep up the GREAT work! I am cheering for you!! Lorem ipsum dolor sit amet,
                                    consectetur
                                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                    aliqua.</p>
                                <br>
                            </div>
                            <div class="col-sm-2 text-center">
                                <img src="bird.jpg" class="img-circle" height="65" width="65" alt="Avatar">
                            </div>
                            <div class="col-sm-10">
                                <h4>John Row
                                    <small>Sep 25, 2015, 8:25 PM</small>
                                </h4>
                                <p>I am so happy for you man! Finally. I am looking forward to read about your trendy
                                    life.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut
                                    labore et dolore magna aliqua.</p>
                                <br>
                                <p><span class="badge">1</span> Comment:</p><br>
                                <div class="row">
                                    <div class="col-sm-2 text-center">
                                        <img src="bird.jpg" class="img-circle" height="65" width="65" alt="Avatar">
                                    </div>
                                    <div class="col-xs-10">
                                        <h4>Nested Bro
                                            <small>Sep 25, 2015, 8:28 PM</small>
                                        </h4>
                                        <p>Me too! WOW!</p>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>{% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block script %}
    <script>
        $(document).ready(function () {
            $('#commentForm').validate();
            $(".like-btn").click(function () {
                let input = $(this).find('.like');
                input.val(parseInt(input.val()) + 1);
                let likeCount = parseInt(input.val());
                let postId = $(this).attr('data-post-id');
                let url = '/blog/post/like/' + postId;
                $.ajax({
                    type: 'POST',
                    url: url,
                    success: function (data) {
                        console.log(data);
                    }
                });
            });
            $(".dislike-btn").click(function () {
                let input = $(this).find('.dislike');
                let postId = $(this).attr('data-id');
                let url = '/blog/post/dislike/' + postId;
                $.ajax({
                    type: 'POST',
                    url: url,
                    success: function (data) {
                        if (data === 'True') {
                            input.val(parseInt(input.val()) + 1);
                        }
                    }
                });
            });
            $(".confirm").confirm({
                text: "Are you sure you want to delete this data?",
                confirmButtonClass: "btn-danger",
                cancelButtonClass: "btn-default",
                dialogClass: "modal-dialog" // Bootstrap classes for large modal
            });
        });
    </script>
{% endblock script %}
