{% extends 'layouts/main.html' %}
{% block content %}
    <div class="container-fluid">
        {% include 'layouts/alert-message.html' %}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content">
                        <h2>{{ object.title }}</h2>
                        <h5><span class="fa fa-calendar"></span> Post by <img src="{{ object.author.profile.image.url }}" class="img-thumbnail img-circle post-user-img">
                            {{ object.author.first_name|title }}, {{ object.date_posted|date:"F d, Y" }}.
                        </h5>
                        <h5><span class="label label-danger">Food</span> <span class="label label-primary">Ipsum</span>
                        </h5><br>
                        <p align="justify">{{ object.content }}</p>
                        <hr/>
                        <a href="javascript:void(0)" class="btn btn-info btn-fill like-btn"><i class="fa fa-thumbs-up"></i> Like
                            <input class="like" name="like" readonly="readonly" type="text" placeholder="0" value="0"/></a>
                        <a href="javascript:void(0)" class="btn btn-danger btn-fill dislike-btn"><i class="fa fa-thumbs-down"></i>
                            Dislike <input class="dislike" name="dislike" readonly="readonly" type="text" placeholder="0" value="0"/></a>
                        <hr/>

                        <h4>Leave a Comment:</h4>
                        <form role="form" id="commentForm">
                            {% csrf_token %}
                            <input type="hidden" name="post_id" value="{{ object.id }}">
                            <div class="form-group">
                                <textarea class="form-control" rows="3" required="true"></textarea>
                            </div>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </form>
                        <br><br>

                        <p><span class="badge">2</span> Comments:</p><br>

                        {% comment %}<div class="row">
                            <div class="col-sm-2 text-center">
                                <img src="bandmember.jpg" class="img-circle" height="65" width="65" alt="Avatar">
                            </div>
                            <div class="col-sm-10">
                                <h4>Anja
                                    <small>Sep 29, 2015, 9:12 PM</small>
                                </h4>
                                <p>Keep up the GREAT work! I am cheering for you!! Lorem ipsum dolor sit amet,
                                    consectetur
                                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                    aliqua.</p>
                                <br>
                            </div>
                            <div class="col-sm-2 text-center">
                                <img src="bird.jpg" class="img-circle" height="65" width="65" alt="Avatar">
                            </div>
                            <div class="col-sm-10">
                                <h4>John Row
                                    <small>Sep 25, 2015, 8:25 PM</small>
                                </h4>
                                <p>I am so happy for you man! Finally. I am looking forward to read about your trendy
                                    life.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut
                                    labore et dolore magna aliqua.</p>
                                <br>
                                <p><span class="badge">1</span> Comment:</p><br>
                                <div class="row">
                                    <div class="col-sm-2 text-center">
                                        <img src="bird.jpg" class="img-circle" height="65" width="65" alt="Avatar">
                                    </div>
                                    <div class="col-xs-10">
                                        <h4>Nested Bro
                                            <small>Sep 25, 2015, 8:28 PM</small>
                                        </h4>
                                        <p>Me too! WOW!</p>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>{% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block script %}
    <script>
        $(document).ready(function () {
            $('#commentForm').validate();
            $(".like-btn").click(function () {
                let input = $(this).find('.like');
                {#let post = $(this).find('.postID');#}
                input.val(parseInt(input.val()) + 1);
                {% comment %}let like = parseInt(input.val());
                let postID = post.val();{% endcomment
                $.ajax({
                    type: 'GET',
                    url: '/post/like',
                    data: {
                        likeCount: like,
                        postID: postID,
                    },
                    success: function (data) {
                        console.log(data);
                    }
                });{% endcomment %}
            });
            $(".dislike-btn").click(function () {
                let input = $(this).find('.dislike');
                input.val(parseInt(input.val()) + 1);
                {% comment %}let post = $(this).find('.postID');
                let like = parseInt(input.val());
                let postID = post.val();
                $.ajax({
                    type: 'GET',
                    url: '/post/dislike',
                    data: {
                        total: like,
                        postID: postID,
                    },
                    success: function (data) {
                        console.log(data);
                    }
                });{% endcomment %}
            });
        });
    </script>
{% endblock script %}
