{% extends 'layouts/main.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="card card-user">
                    <div class="image">
                        <img src="{% static 'img/background.jpg' %}" alt="...">
                    </div>
                    <div class="card-content">
                        <div class="author">
                            <img class="avatar border-white" src="{{ object.profile.image.url }}" alt="...">
                            <h4 class="card-title">{{ object.first_name|title }} {{ object.last_name|title }}<br>
                                <a href="#">
                                    <small>@{{ object.username }}</small>
                                </a>
                            </h4>
                        </div>
                        {% comment %}<p class="description text-center">
                            "I like the way you work it <br>
                            No diggity <br>
                            I wanna bag it up"
                        </p>{% endcomment %}
                    </div>
                    <hr>
                    <div class="text-center">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <h5>{{ object.email }}<br><small><i class="fa fa-envelope"></i> Email</small>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Post{{ posts|pluralize:"s" }}</h4>
                    </div>
                    <div class="card-content">
                        <ul class="list-unstyled team-members">
                            {% if posts|length > 0 %}
                                {% for post in posts %}
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-8">{{ post.title }}</div>
                                            <div class="col-xs-2">{{ post.date_posted|date:"F d, Y" }}</div>
                                            <div class="col-xs-2 text-right">
                                                <a href="{% url 'blog-detail' post.slug %}" class="btn btn-sm btn-success btn-icon"><i class="fa fa-eye"></i></a>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            {% else %}
                                No post found
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Group{{ groups|pluralize:"s" }}</h4>
                    </div>
                    <div class="card-content">
                        <ul class="list-unstyled team-members">
                            {% if groups|length > 0 %}
                                {% for group in groups %}
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-6">{{ group.name }}</div>
                                            <div class="col-xs-2">{{ group.createdAt|date:"F d, Y" }}</div>
                                            {% if group.type == 'public' %}
                                                <div class="col-xs-2"><span class="label label-success">Public</span></div>
                                            {% else %}
                                                <div class="col-xs-2"><span class="label label-danger">Private</span></div>
                                            {% endif %}
                                            {% comment %}<div class="col-xs-2 text-right">
                                                <a href="{% url 'blog-detail' post.slug %}" class="btn btn-sm btn-success btn-icon"><i class="fa fa-eye"></i></a>
                                            </div>{% endcomment %}
                                        </div>
                                    </li>
                                {% endfor %}
                            {% else %}
                                No group found
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
